{% extends 'base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <p>Watch JS console</p>
{% endblock %}