{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('wasm-opengl') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wasm-opengl') }}
{% endblock %}

{% block body %}
    <h1>Wasm OpenGL</h1>
    {% include "page_block.html.twig" %}
    <canvas id="rust-gl" width="640" height="480"></canvas>
    {% include "send_results_modal.html.twig" %}
{% endblock %}