<button id="btn-multiple-objects">Daudzobjektu Renderēšanas tests</button>
<button id="btn-large-object">Lielā Mēroga Objekta Renderēšanas tests</button>

<div>Pārlūkprogrammas Aģents: <span id="agent"></span></div>
<div>Ierīces tips: <span id="device-type"></span></div>
<div>GPU: <span id="gpu-model"></span></div>
<div>CPU: <span id="cpu"></span></div>
<div>Izmantota atmiņa: <span id="heap-memory">nav atbalstīts</span></div>
<div>Virsotnes: <span id="scene-vertex"></span></div>
<div>Trīsstūras: <span id="scene-triangles"></span></div>
<div>FPS: <span id="fps"></span></div>
<div>Palikušais laiks: <span id="time-left"></span></div>

<div id="loader" class="spinner-border" role="status" style="display: none">
    <span class="sr-only"></span>
</div>