{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('webgl') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('webgl') }}
{% endblock %}

{% block body %}
    <h1>WebGL</h1>

    <div>GPU: <span id="gpu-model"></span> <span id="gpu"></span></div>
    <div>Used heap memory: <span id="heap-memory"></span></div>
    <div>FPS: <span id="fps"></span></div>
    <canvas id="webgl-canvas" width="640" height="480"></canvas>
{% endblock %}