{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('wasm-opengl') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wasm-opengl') }}
{% endblock %}

{% block body %}
    <h1>Wasm OpenGL</h1>

    <div>Agent: <span id="agent"></span></div>
    <div>GPU: <span id="gpu-model"></span></div>
    <div>GPU: <span id="gpu"></span></div>
    <div>CPU: <span id="cpu"></span></div>
    <div>Used heap memory: <span id="heap-memory">not available</span></div>
    <div>Vertex: <span id="scene-vertex"></span></div>
    <div>Triangles: <span id="scene-triangles"></span></div>
    <div>FPS: <span id="fps"></span></div>
    <canvas id="rust-gl" width="640" height="480"></canvas>
{% endblock %}