<div id="send-results-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Testa rezultāti</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div><b>Tests:</b> <span id="modal-test" class="modal-fill-field"></span></div>
                <div><b>Pārlūkprogrammas Aģents:</b> <span id="modal-agent" class="modal-fill-field"></span></div>
                <div><b>Ierīces tips:</b> <span id="modal-device-type" class="modal-fill-field"></span></div>
                <div><b>GPU:</b> <span id="modal-gpu-model" class="modal-fill-field"></span></div>

                <div id="modal-body-success" style="display: none">
                    <div><b>Virsotnes:</b> <span id="modal-total-vertex" class="modal-fill-field"></span></div>
                    <div><b>Trīsstūras:</b> <span id="modal-total-triangles" class="modal-fill-field"></span></div>
                    <div><b>Iniciālizācijas laiks:</b> <span id="modal-init-time" class="modal-fill-field"></span></div>
                    <br/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th scope="col">CPU (accumulations)</th>
                                <th scope="col">Heap Memory (MB)</th>
                                <th scope="col">FPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Max</td>
                                <td id="modal-max-cpu" class="modal-fill-field">&nbsp;</td>
                                <td id="modal-max-heap" class="modal-fill-field">&nbsp;</td>
                                <td id="modal-max-fps" class="modal-fill-field">&nbsp;</td>
                            </tr>
                            <tr>
                                <td scope="row">Min</td>
                                <td id="modal-min-cpu" class="modal-fill-field">&nbsp;</td>
                                <td id="modal-min-heap" class="modal-fill-field">&nbsp;</td>
                                <td id="modal-min-fps" class="modal-fill-field">&nbsp;</td>
                            </tr>
                            <tr>
                                <td scope="row">Avg</td>
                                <td id="modal-avg-cpu" class="modal-fill-field">&nbsp;</td>
                                <td id="modal-avg-heap" class="modal-fill-field">&nbsp;</td>
                                <td id="modal-avg-fps" class="modal-fill-field">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="modal-body-error" style="display: none">
                    <div class="alert-danger"><b>Kļūda:</b> <span id="modal-error" class="modal-fill-field"></span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-send btn-primary" data-link="{{ path('api_store_results') }}">Nosūtīt rezultātus</button>
            </div>
        </div>
    </div>
</div>